body {
    margin: 40px auto 80px;
    max-width: 700px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

button {
    margin: 5px;
    line-height: 20px;
    font-size: 14px;
    background-color: #CEF;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 8px;
}

select {
    padding: 2px;
    margin: 0px 6px;
}

#controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#rating-selection {
    display: inline-block;
    flex: 1 1 auto;
}

#new-rating {
    display: inline-block;
    flex: 0 1 auto;
}

#new-rating-input {
    display: none;
    margin: 10px 0px;
}

.line {
    display: block;
}

.rating-error {
    display: none;
    font-weight: bold;
}

.input-label {
    width: 120px;
    display: inline-block;
    margin: 6px 0px;
}

#chart {
    padding: 42px;
}

#chart svg {
    display: block;
    margin: 0px auto;
}

.level-line {
    stroke: #808080;
    stroke-opacity: 0.75;
    stroke-width: 0.3px;
}

.level-title {
    font-size: 10px;
    fill: #737373;
}

.axis-line {
    stroke: #808080;
    stroke-width: 1px;
}

.axis-title {
    font-size: 11px;
}

.legend-title {
    font-size: 12px;
    fill: #404040;
}

.legend-entry {
    font-size: 11px;
    fill: #737373;
}